<nav>
  <ul class="navbar-left">
    <li class="icon-container">
      <mat-icon matTooltip="Inicio" (click)="navigate('/home')" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </li>
  </ul>
  <ul class="navbar-center">
    <!--<li><button (click)="openRendimientosDialog()"><i class="fas fa-chart-line"></i> {{rendiButton}}</button></li>-->
    <li><button (click)="navigate('/rendimientos')"><i class="fas fa-chart-line"></i> {{rendiButton}} </button></li>
    <li><button (click)="navigate('/reporUpload')"><i class="fas fa-envelope"></i>{{ reportsButton }}</button></li>
    <li><button (click)="navigate('/dispercion')"><i class="fas fa-info-circle"></i>{{dispersionButton}}</button></li>
  </ul>
  <ul class="navbar-right">
    <li class="icon-container">
      <mat-icon matTooltip="Cerrar sesión" matTooltipPosition="above" (click)="logout()" aria-hidden="false" aria-label="Logout icon" fontIcon="logout"></mat-icon>
    </li>
  </ul>
</nav>