<table>
  <thead>
    <tr>
      <th>
        SelectAll
        <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="allSelected" />
      </th>
      <th>Contrato</th>
      <th>Cliente</th>
      <th>Estrategia</th>
      <th>Mes</th>
      <th>Año</th>
      <th>Visualizador</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos">
      <td>
        <input type="checkbox" [(ngModel)]="dato.selected" />
      </td>
      <td>{{ dato.contrato }}</td>
      <td>{{ dato.cliente }}</td>
      <td>{{ dato.estrategia }}</td>
      <td>{{ dato.mes }}</td>
      <td>{{ dato.ano }}</td>
      <td>{{ dato.visualizador }}</td>
    </tr>
  </tbody>
</table>





