
<div class="form-container">
    <div class="form-group">
        <label for="year">Año:</label>
        <select id="year" class="custom-select" [(ngModel)]="selectedYear">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="month">Mes:</label>
        <select id="month" class="custom-select" [(ngModel)]="selectedMonth">
            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="strategy">Estrategia:</label>
        <select id="strategy" class="custom-select" [(ngModel)]="selectedStrategy">
            <option *ngFor="let strategy of strategies" [value]="strategy">{{ strategy }}</option>
        </select>
    </div>
    <div class="form-group">
        <div class="button-container">
            <button mat-raised-button color="primary" class="search-button" (click)="searchFiles()" matTooltip="Buscar">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="table-container">
    <div *ngIf="lengRegister !== null" class="record-count">
        {{ lengRegister }} registros
    </div>
    <table>
        <thead>
            <tr>
                <th class="upload-title select-all">
                    SelectAll
                    <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="allSelected" />
                    
                </th>
                <th class="upload-title">
                    Contrato
                    <input type="text" class="contract-filter" [(ngModel)]="filters.contrato" (input)="applyFilters()" />
                </th>
                <th class="upload-title">Cliente</th>
                <th class="upload-title">Estrategia</th>
                <th class="upload-title">Mes</th>
                <th class="upload-title">Año</th>
                <th class="upload-title">Nombre de Archivo</th>
                <th class="upload-title">Visualizador</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of paginatedDatos">
                <td>
                    <input type="checkbox" [(ngModel)]="dato.selected" (change)="updateAnySelected()" />
                </td>
                <td>{{ dato.contrato }}</td>
                <td>{{ dato.cliente }}</td>
                <td>{{ dato.estrategia }}</td>
                <td>{{ dato.mes }}</td>
                <td>{{ dato.ano }}</td>
                <td>
                    <mat-icon>{{ dato.visualizador }}</mat-icon>
                    {{ dato.nombrePdf }}
                </td>
                <td>
                    
                    <button class="view-button" (click)="viewPDF(dato.contrato, dato.estrategia)" matTooltip="Ver PDF">
                        <mat-icon class="pdf-icon">{{ dato.visualizador }}</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
     <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)">
     </mat-paginator>

    <button class="send-button" (click)="sendFiles()" [disabled]="!anySelected">{{sendfiles}}</button>

    <div class="loading-spinner" *ngIf="isLoading">
        <div class="spinner"></div>
    </div>
</div>