:host {
    display: block;
  }
  
  main {
    margin-top: 60px; /* Ajusta según la altura de tu navbar */
    padding: 16px; /* Opcional: añade un padding para el contenido */
  }

  .content {
    padding-top: 20px; /* Espacio adicional para separar la tabla del contenido superior */
  }