<div class="login-header">

</div>
<div class="carousel-container">
  <div class="carousel-slide">
    <div class="slide">
      <a href="https://intranetactinver.actinver.com.mx/RH/Pages/COVID19.aspx" target="_blank">
        <img src="/bannerCovid19.jpg" alt="Image 1">
      </a>
    </div>
    <div class="slide">
      <a href="https://asistencias.actinver.com.mx/static/asistencias-frontend/index.html" target="_blank">
        <img src="/bannerFyF.jpg" alt="Image 2">
      </a>
    </div>
    <div class="slide">
      <a href="https://intranetactinver.actinver.com.mx/Documents/sliderhome/images/MEXDER_2021.png" target="_blank">
        <img src="/bannerMexDer.jpg" alt="Image 3">
      </a>
    </div>
    <div class="slide">
      <a href="https://intranetactinver.actinver.com.mx/Documents/sliderhome/images/ComunicadoBuzon.png" target="_blank">
        <img src="/buzonComunicado.jpg" alt="Image 4">
      </a>
    </div>
    <div class="slide">
      <a href="https://intranetactinver.actinver.com.mx/Acerca/Documents/decalogoSeguridad.jpg" target="_blank">
        <img src="/decalogoSeguridad.jpg" alt="Image 5">
      </a>
    </div>
    <div class="slide">
      <a href="https://actinver.com/home" target="_blank">
        <img src="/vistazo2.jpg" alt="Image 6">
      </a>
    </div>
	
    <img src="/Logotype Actinver.png" alt="Actinver" class="login-header-image">
  </div>
  <a class="prev" (click)="moveSlide(-1)" (keydown)="moveSlide(-1)">&#10094;</a>
  <a class="next" (click)="moveSlide(1)" (keydown)="moveSlide(1)">&#10095;</a>
</div>
<footer>
  <p>&copy; 2024 Actinver (Gestor de Reportes ALFA)</p>
</footer>
